@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary-background: #272727;
  --primary-text: #ffffff;
  --secondary-text: #aaaaaa;
  --link-color: #3574f1;
  --border-color: #333333;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
}

/* Dark mode styles */
.dark {
  background: var(--primary-background);
  color: var(--primary-text);
}

.dark .navbar {
  border-bottom: 1px solid var(--border-color);
}

.dark .navbar h1 {
  color: var(--primary-text);
}

.dark .navbar a {
  color: var(--primary-text);
}

.dark .navbar a:hover {
  color: var(--link-color);
}

.dark .dark-mode-toggle {
  color: var(--primary-text);
}

.dark .dark-mode-toggle:hover {
  color: var(--link-color);
}

.dark .msg {
  color: var(--primary-text);
}

.dark .blog-list h2 {
  color: var(--secondary-text);
}

.dark .blog-preview {
  border-bottom: 1px solid var(--border-color);
}

.dark .blog-preview:hover {
  box-shadow: 1px 3px 5px var(--box-shadow-color);
}

.dark .blog-preview h2 {
  color: var(--link-color);
}

.dark .blog-preview p {
  color: var(--primary-text);
}

.dark .blog-preview span.bold {
  color: var(--primary-text);
}

.dark .blog-details h2 {
  color: var(--secondary-text);
}

.dark .blog-details p {
  color: white;
}

.dark .blog-details div {
  color: white;
}

/* Existing styles for light mode */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #403f3f;
}

.navbar .links {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: var(--link-color);
}

.dark .create h2 {
  color: var(--secondary-text);
}

.dark-mode-toggle {
  border: 0;
  outline: 0;
  background: transparent;
  margin-left: 16px;
  margin-top: 4px;
}

.dark-mode-toggle:hover {
  color: var(--link-color);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-list h2 {
  color: #5f5f5f;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: var(--link-color);
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-details h2 {
  font-size: 20px;
  color: var(--link-color);
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: var(--link-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: var(--link-color);
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: var(--link-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}